<h1 class="text-center mt-4">Listing all Articles</h1>

<div class="apple_pagination bg-transparent">
	<%= will_paginate @articles, :container => false %>
</div>

<%= render 'article' %>

<div class="apple_pagination mb-4 bg-transparent">
	<%= will_paginate @articles, :container => false %>
</div>
