<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-white text-right font-weight-bold">
      <h1 class="display-4">Alpha Blog</h1>
      <a href="#" class="btn btn-success btn-lg" role="button">Sign Up</a>
    </div>
  </div>
</div>
